main{
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
              0px 6px 20px 0 rgba(0,0,0,0.19);
  transition: all 0.3s ease;
  overflow-x: hidden;
}

main .img{
  position: relative;
}


main .fas{
  position: absolute;
  margin-top: 5px;
  margin-left: 265px;
  font-size: 30px;
  transition: all 0.29s ease;
  cursor: pointer;
  z-index: 5;
}

main .fa-arrow-circle-right{
  color: white;
  transform: translateX(-160px) translateY(-2px);
}

.img #song_name{
  width: 100%;
  margin-bottom: -1px;
  position: absolute;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0, 0.8));
  padding: 20px 5px 10px 5px;
  bottom: 5px;
}

main audio{
  width: 300px;
  border-radius: 0;
  outline: none;
}

audio::-webkit-media-controls-panel {
  background-color: white;
}

.sidebar #head{
  padding: 7px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
}

.sidebar{
  margin-left: 300px;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 200px;
  background-color: rgba(0,0,0,0.8);
  transition: transform 0.3s ease;
  top: 0;
  left: 0;
}

.sidebar.activeBar{
  transform: translateX(-200px);
}

main .sidebar .fa-plus{
  position: absolute;
  margin-top: 5px;
  margin-left: 0;
  font-size: 25px;
  transition: all 0.29s ease;
  cursor: pointer;
  z-index: 5;
  color: white;
  transform: translateY(-35px) translateX(170px);
}

.sidenav {
  height: 320px;
  overflow-x: hidden;
  transition: all 0.5s ease;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: all 0.2s ease;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: rgba(0,0,0,0.9);
}

::-webkit-scrollbar {
  width: 0px;
}

.white{
  color: white;
}