@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css";
.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.disabled {
  color: #666;
  cursor: default;
}

.show {
  display: inline-block !important;
}


